
@import "../../global.scss";
.portfolioList{
    font-size: 15px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 15px;
    cursor: pointer;
    @include mobile{
        display: none;
      }

    &.active{
        background-color: $mainColor;
        color: white;
    }
}