@import "../../global.scss";

$bg-color: hsl(0, 0%, 0%);
$dot-color: hsl(0, 0%, 100%);

// Dimensions
$dot-size: 1px;
$dot-space: 30px;

.intro{
    // background: url(../../../public/assets/background.jpg) center;
    // background-size: cover;
    background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
    
    

    display: flex;
    @include mobile{
      flex-direction: column;
      align-items: center;
      &.dark{
        background-color: $mainColor;
      }
    
    }

      .left{
        
        flex: 0.5;
        overflow: hidden;
          .imageContainer{
            width: 700px;
            height: 700px;
            background-color: red;
            border-radius: 50%;
            position: relative;
            display: flex;
            overflow: hidden;
            align-items: flex-end;
            justify-content: center;
            float: right;
            animation: colorChange 4s infinite ease-in-out;
            @keyframes colorChange {
              50%{
                 border-radius: 45%;
                 border-top-right-radius: 65%;
                 background-color: rgb(255, 0, 0);
                 
                 
              }
             
          }
            
                @include mobile{
                  align-items: flex-start;
                }

             img{
                height: 120%;
                
                left: 50px;
                bottom: -200px;
                
                position: absolute;
                text-align: center;

                @include mobile{
                  height: 60%;
                  left: 200px;
                  bottom: 250px;
                }
                
             }
          }
        
      }
      .right{
        flex: 0.5;
        position: relative;

          .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include mobile{
              padding-left: 0;
              align-items: center;
            }
           
            h1{
                font-size: 90px;
                color: white;
                margin: 10px 0;
                @include mobile{
                  font-size: 50px;
                }
                
                
            }
            h2{
                font-size: 35px;
                color: white;

            }
            h3{
                font-size: 30px;
                color: white;
                span{
                    font-size: inherit;
                    color: #fe0000;
                }
                @include mobile{
                  font-size: 30px;
                }
            }

          }
          a{
            position: absolute;
            bottom: 10px;
            left: 20%;
            transform: rotate(-90deg);
            @include mobile{
              left: 30%;
              bottom: 0px;
            }

            img{
                width: 50px;
                animation: arrowBlink 2s infinite;
               
            }

            @keyframes arrowBlink {
                to{
                    opacity: 0;
                }
            }
          }
        
      }
      
}